.link {
  color: #247ba0;
  text-decoration: none;
}

.listItem {
  text-align: center;
}

.listItem::after {
  content: "--------------------------------------------";
  color: #4c5c68;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .grid {
    display: flex;
    flex-direction: column-reverse;
  }
}
